<header class="clearfix">

	<h2 class="well"> Create New Note Form</h2>

</header>

<div class="contenr-inner" >

	<div class="contenr-inside" >

		<div class="row" style=" margin: auto; width: 75%;  border: 3px solid green; ">

			<div class="col-sm-8" >

				<div class="form-group">
					<label>Title</label>
					<textarea type="text" id="noteTitle" placeholder="Enter Title Here.." class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label>Body</label>
					<textarea id="noteBody" placeholder="Enter Content Here.." class="form-control" rows="12"></textarea>
				</div>

			</div>

		</div>
		<br />
		<button type="button" style="display: block; margin: 0 auto;" onclick="createNote()" class="btn btn-md btn-info">
			Create Note
		</button>

	</div>

</div>

